.vscode/cquery_cached_index
.vscode/settings.json
build/
output
.idea
cmake-build-debug
test_coverage_catch2/.idea
test_coverage_catch2/cmake-build-debug
test_coverage_catch2/cmake-build-debug-coverage
